/*
    Components
 */
.parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.flexbox-v-center {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 75%;
}
/*
    Base
 */
.wrapper {
  overflow-x: hidden;
}

.side-heading {
  font-size: 7em;
  text-align: center;
  margin: 0;
}

.sub-heading {
  font-size: 2em;
}

@media(max-width:990px) {
  .side-heading {
    margin-bottom: .5em;
  }
}

.top-heading {
  font-size: 7em;
  text-align: center;
  margin-top: 0;
  margin-bottom: .5em;
}


figure img {
  width: 100%;
}

.thumbnail im0g {
  width: 100%;
}
