.navbar {
    background: #fff;
    border: 0;
    border-radius: 0;

    box-shadow:
      0 0 0 3px $color-light-blue,
      0 0 0 6px $color-light-orange,
      0 0 0 9px $color-light-yellow;
}

.navbar-brand {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 2em;
  color: #fff !important;

  width: 500px;
  height: 50px;
  background-image: url(../images/saaac-btl.png);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-item {

  &:not(:last-child) {
    margin-right: 1em;
  }

  a {
    color: #0869a5 !important;

    transition: all .1s;

    &:hover {
      margin-top: -3px;
      border-bottom: 3px solid #0869a5;
    }
  }
}
