/*
    Setting up base components
 */
section {
    position: relative;
    background: #fff;

    &::before,
    &::after {
        position: absolute;
        content: '';
        pointer-events: none;
    }

    .container {
      padding-top: 2em;
      padding-bottom: 7em;
    }
}

/*
    Setting up separators
 */
.diag-separator-forward,
.diag-separator-backward {
    z-index: 1;
}

/*
    Forward separator
 */
.diag-separator-forward {
    &::before,
    &::after {
        top: 0;
        left: -25%;
        z-index: -1;
        width: 150%;
        height: 75%;
        background: inherit;
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    &::before {
        height: 50%;
        background: #2072a7;
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
        -webkit-transform-origin: 3% 0;
        transform-origin: 3% 0;
    }
}

/*
    Backwards separator
 */
.diag-separator-backward {
    &::before,
    &::after {
        top: 0;
        left: -25%;
        z-index: -1;
        width: 150%;
        height: 75%;
        background: inherit;
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }

    &::before {
        height: 50%;
        background: #2072a7;
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
        -webkit-transform-origin: 97% 0;
        transform-origin: 97% 0;
    }
}
