h1, h2, h3, h4 {
    font-family: "ff-tisa-web-pro", serif;
}

p, ul:not(.nav), address {
    font-family: "proxima-nova", sans-serif;
    font-size: 1.1em;
    line-height: 1.618em;
}

.header h1 {
    color: #fff;
    margin: 0;

    font-weight: bold;
    font-size: 3em;

    text-shadow: 1px 1px 3px #000;
}

.section-heading {
  text-align: center;
  font-size: 4em;
  border-bottom: 2px dashed #fff;
}
