//------ COLOURS -------//
$color-blue: #0869a5;
$color-dark-blue: #065381;
$color-light-blue: #2072a7;
$color-orange: #ff3d00;
$color-dark-orange: #ca3100;
$color-light-orange: #ff5f2d;
$color-yellow: #ffbb00;
$color-dark-yellow: #ca9400;
$color-light-yellow: #ffc72d;
