/*
    Components
 */
.parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat; }

.vertical-align {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%); }

.row {
  height: 80%; }

/*
    Base
 */
body {
  overflow-x: hidden; }

/*
    Header
 */
.header {
  background-image: url(../images/kids.jpg);
  height: 400px; }

figure img {
  width: 100%; }

.thumbnail img {
  width: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2072a7;
  padding: 1em 0; }

h1, h2, h3, h4 {
  font-family: "ff-tisa-web-pro", serif; }

p, ul:not(.nav), address {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.1em;
  line-height: 1.618em; }

.header h1 {
  color: #fff;
  margin: 0;
  font-weight: bold;
  font-size: 3em;
  line-height: 300px;
  text-shadow: 1px 1px 3px #000; }

.section-heading {
  text-align: center;
  font-size: 4em;
  border-bottom: 2px dashed #fff; }

.navbar {
  background: #fff;
  border: 0;
  border-radius: 0; }

/*
    Setting up base components
 */
section {
  position: relative;
  padding-top: 1em;
  padding-bottom: 7em;
  background: #fff; }
  section::before, section::after {
    position: absolute;
    content: '';
    pointer-events: none; }

#how-it-works {
  background: #0869a5;
  color: #b3e1ff; }

/*
    Setting up separators
 */
.diag-separator-forward, .diag-separator-backward {
  z-index: 1; }

/*
    Forward separator
 */
.diag-separator-forward::before, .diag-separator-forward::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
      transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
      transform-origin: 0 0; }
.diag-separator-forward::before {
  height: 50%;
  background: #2072a7;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  -ms-transform-origin: 3% 0;
      transform-origin: 3% 0; }

/*
    Backwards separator
 */
.diag-separator-backward::before, .diag-separator-backward::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
      transform: rotate(2deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
      transform-origin: 100% 0; }
.diag-separator-backward::before {
  height: 50%;
  background: #2072a7;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
      transform: rotate(3deg);
  -webkit-transform-origin: 97% 0;
  -ms-transform-origin: 97% 0;
      transform-origin: 97% 0; }

#how-it-works {
  background: #0869a5;
  color: #fff; }

.how-it-works-flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.how-it-works-heading {
  font-size: 7em;
  text-align: center; }

.how-it-works-list {
  list-style-type: none;
  margin: 0;
  margin-left: 3em;
  padding: 0;
  counter-reset: li-counter; }
  .how-it-works-list li {
    position: relative;
    padding-left: .5em;
    margin-left: 3em;
    min-height: 6em; }
    .how-it-works-list li:before {
      position: absolute;
      top: 0;
      left: -1em;
      width: .8em;
      font-size: 4em;
      line-height: 1;
      font-weight: bold;
      font-style: italic;
      text-align: right;
      color: #66b1ce;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
      content: counter(li-counter);
      counter-increment: li-counter; }
    .how-it-works-list li h2 {
      padding-bottom: .5em; }
