/*
    Components
 */
.parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat; }

.vertical-align {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%); }

.row {
  height: 80%; }

/*
    Base
 */
body {
  overflow-x: hidden; }

/*
    Header
 */
.header {
  background-image: url(../images/kids.jpg);
  height: 400px; }

figure img {
  width: 100%; }

.thumbnail img {
  width: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2072a7;
  padding: 1em 0; }

h1 {
  font-family: "brandon-grotesque", serif; }

p, ul:not(.nav), address {
  font-family: "merriweather", serif;
  font-size: 1.1em;
  line-height: 1.5em; }

.header h1 {
  color: #fff;
  margin: 0;
  font-weight: bold;
  font-size: 4em;
  line-height: 300px;
  text-shadow: 1px 1px 3px #000; }

.how-it-works-list {
  height: 80%; }
  .how-it-works-list ul {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
            transform: translateY(-40%); }
  .how-it-works-list li {
    list-style-type: none;
    padding: 1em 0; }

.heading {
  height: 80%; }
  .heading h1 {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
            transform: translateY(-40%);
    font-size: 8em; }

.navbar {
  background: #fff;
  border: 0;
  border-radius: 0; }

/*
    Setting up base components
 */
section:not(.first-section) {
  position: relative;
  background: #fff; }
  section:not(.first-section)::before, section:not(.first-section)::after {
    position: absolute;
    content: '';
    pointer-events: none; }

.first-section {
  background: #0869a5;
  color: #b3e1ff; }

/*
    Setting up separators
 */
.diag-separator-forward, .diag-separator-backward {
  z-index: 1; }

/*
    Forward separator
 */
.diag-separator-forward::before, .diag-separator-forward::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
      transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
      transform-origin: 0 0; }
.diag-separator-forward::before {
  height: 50%;
  background: #2072a7;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  -ms-transform-origin: 3% 0;
      transform-origin: 3% 0; }

/*
    Backwards separator
 */
.diag-separator-backward::before, .diag-separator-backward::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
      transform: rotate(2deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
      transform-origin: 100% 0; }
.diag-separator-backward::before {
  height: 50%;
  background: #2072a7;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
      transform: rotate(3deg);
  -webkit-transform-origin: 97% 0;
  -ms-transform-origin: 97% 0;
      transform-origin: 97% 0; }
