/*
    Components
 */
.parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat; }

.flexbox-v-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75%; }

/*
    Base
 */
.wrapper {
  overflow-x: hidden; }

.side-heading {
  font-size: 7em;
  text-align: center;
  margin: 0; }

.sub-heading {
  font-size: 2em; }

@media (max-width: 990px) {
  .side-heading {
    margin-bottom: .5em; } }

.top-heading {
  font-size: 7em;
  text-align: center;
  margin-top: 0;
  margin-bottom: .5em; }

figure img {
  width: 100%; }

.thumbnail im0g {
  width: 100%; }

.header {
  background-image: url(../images/header-bg.jpg);
  background-position: top center;
  background-size: contain;
  height: 400px; }

.footer {
  background: #fff; }
  .footer p {
    margin-bottom: 0;
    font-size: .9em;
    line-height: 4em; }

h1, h2, h3, h4 {
  font-family: "ff-tisa-web-pro", serif; }

p, ul:not(.nav), address {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.1em;
  line-height: 1.618em; }

.header h1 {
  color: #fff;
  margin: 0;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 1px 1px 3px #000; }

.section-heading {
  text-align: center;
  font-size: 4em;
  border-bottom: 2px dashed #fff; }

.navbar {
  background: #fff;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #0869a5; }

.navbar-brand {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 2em;
  color: #fff !important;
  width: 500px;
  height: 50px;
  background-image: url(../images/saaac-btl.png);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat; }

.navbar-item:not(:last-child) {
  margin-right: 1em; }
.navbar-item a {
  color: #0869a5 !important;
  -webkit-transition: all .1s;
          transition: all .1s; }
  .navbar-item a:hover {
    margin-top: -3px;
    border-bottom: 3px solid #0869a5; }

/*
    Setting up base components
 */
section {
  position: relative;
  background: #fff; }
  section::before, section::after {
    position: absolute;
    content: '';
    pointer-events: none; }
  section .container {
    padding-top: 2em;
    padding-bottom: 7em; }

/*
    Setting up separators
 */
.diag-separator-forward, .diag-separator-backward {
  z-index: 1; }

/*
    Forward separator
 */
.diag-separator-forward::before, .diag-separator-forward::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
      transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
      transform-origin: 0 0; }
.diag-separator-forward::before {
  height: 50%;
  background: #2072a7;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  -ms-transform-origin: 3% 0;
      transform-origin: 3% 0; }

/*
    Backwards separator
 */
.diag-separator-backward::before, .diag-separator-backward::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
      transform: rotate(2deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
      transform-origin: 100% 0; }
.diag-separator-backward::before {
  height: 50%;
  background: #2072a7;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
      transform: rotate(3deg);
  -webkit-transform-origin: 97% 0;
  -ms-transform-origin: 97% 0;
      transform-origin: 97% 0; }

#who-we-are {
  background: #fff; }

.sub-heading {
  margin-bottom: 3em;
  text-align: center; }

.organization img {
  margin-bottom: 2em; }
.organization p {
  font-size: 1.3em; }

#the-artists h2 {
  margin-bottom: 1em; }
#the-artists p {
  font-size: 1.3em; }

.artist {
  padding: 1em; }
  .artist .artist-descriptor {
    font-size: .8em;
    padding-bottom: 1em; }

.artist-photo {
  border-radius: 5px;
  border: 2px solid #7e1b00; }

#the-art {
  background: #008e46; }
  #the-art::before {
    background-color: #00b559; }
  #the-art .top-heading {
    color: #fff; }

#faq {
  background: #0869a5;
  color: #fff; }

.v-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (max-width: 990px) {
  .v-center {
    display: block; } }

.how-it-works-list {
  list-style-type: none;
  margin: 0;
  margin-left: 3em;
  padding: 0;
  counter-reset: li-counter; }
  .how-it-works-list li {
    position: relative;
    padding-left: .5em;
    margin-left: 3em;
    min-height: 6em; }
    .how-it-works-list li:before {
      position: absolute;
      top: 0;
      left: -1em;
      width: .8em;
      font-size: 4em;
      line-height: 1;
      font-weight: bold;
      font-style: italic;
      text-align: right;
      color: #66b1ce;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
      content: counter(li-counter);
      counter-increment: li-counter; }
    .how-it-works-list li h2 {
      padding-bottom: .5em; }

#contact {
  background: #7e1b00;
  color: #fff; }
  #contact:before {
    background: #a62800; }

#map {
  margin-bottom: 1em; }

.contact-form input, .contact-form textarea {
  background-color: #7e1b00;
  color: #fff; }
  .contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
    color: #fff; }
  .contact-form input:focus, .contact-form input:hover, .contact-form input:active, .contact-form textarea:focus, .contact-form textarea:hover, .contact-form textarea:active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #fff;
    background: #a62800; }
.contact-form input[type=submit] {
  background: #a62800; }
