section.diag-separator-backward#faq
  .container
    .row.v-center
      .col-md-3.col-sm-12
        h1.side-heading FAQ
      .col-md-9.col-sm-12
        ol.how-it-works-list
          .col-md-6
            li
              h2 Charity
              p 50% of all proceeds from these featured original artworks will go directly to SAAAC Creative to support clients’ artistic expression and potential.
            li
              h2 Tax Receipt
              p A tax receipt will be provided by SAAAC for 50% of the total sale price.
            li
              h2 Original Artworks
              p All artworks are originals and NOT re-prints or duplications.
            li
              h2 Payment
              p Payment can be made in cash, cheque, or money transfer directly to SAAAC. A deposit may be required if the transaction cannot be completed within one week.
          .col-md-6
            li
              h2 Pick Up
              p Artwork can be picked up at SAAAC Creative. See contact section for address.
            li
              h2 Framing
              p Framing will NOT be provided for any of the artwork.
            li
              h2 Recognition
              p Special recognition and thanks will be featured on the SAAAC website at the discretion of the purchaser.
