section#how-it-works
  .container
    h1.top-heading How It Works
    p.text-center We are a 50/50 Art Fundraiser. 50% of proceeds go to the artist
     | and 50% of proceeds go to SAAAC Creative.
    p.text-center For more information, please see the <a href="#faq">FAQs</a>.
    .row
      ol.how-it-works-steps
        li.col-md-4
          .step.v-center
            .step-content
              h2.text-center Pick The Artworks
              p.text-center Select your favourite artwork by our featured artist or SAAAC artists.
        li.col-md-4
          .step.v-center
            .step-content
              h2.text-center Setup Payment
              p.text-center Contact us to setup a convenient method of payment.
        li.col-md-4
          .step.v-center
            .step-content
              h2.text-center Arrange Pickup
              p.text-center Get the artwork in your hands and enjoy!
              
