li.navbar-item
  a(href="#how-it-works") How It Works
li.navbar-item
  a(href="#who-we-are") Who We Are
li.navbar-item
  a(href="#the-artists") The Artists
li.navbar-item
  a(href="#the-art") The Art
li.navbar-item
  a(href="#faq") FAQ
li.navbar-item
  a(href="#contact") Contact
