section.diag-separator-backward#the-artists
  .container
    h1.top-heading The Artists
    .row.featured-artist
      .col-md-3.col-sm-12.col-md-push-9
        h2.side-heading.sub-heading.artist-name-sub-heading Amir Akbari
      .col-md-9.col-sm-12.col-md-pull-3
        .col-sm-8
          p
            | Amir Akbari is a visual artist, youth developer and social
            | entrepreneur working with diverse communities across the
            | Greater Toronto Area in various creative capacities.
            | Partnering with numerous agencies and organizations to
            | develop community art projects, special education programs,
            | and settlement initiatives. Amir is an avid painter, drama
            | instructor and educational facilitator with a passion for
            | working with people and igniting inspiration. He founded
            | Behind the Line Creative Social Solutions in 2012 to meet the
            | growing demand of creating more inclusive, creative, and
            | innovative social programs. As a graduate of the OCAD
            | University, Amir hopes to inject an artistic and
            | creative flair wherever he ventures.
        .col-sm-4.v-center
          img.img-responsive.artist-photo(src="images/artists/amir.jpg" alt="Amir Akbari")
    
    .row
      .col-md-3.col-sm-12
        h2.side-heading.sub-heading.saaac-sub-heading SAAAC Artists
      .col-md-9.col-sm-12
        .col-sm-4
          .artist
            img.img-responsive.artist-photo(src="images/artists/maathumai.jpg" alt="Maathumai")
            h2.text-center Maathumai
              span.artist-desc 19 years old - Artist
            p Maathumai loves to paint using bright colours.  She is focused and always eager to create a masterpiece.  Her favourite colour is blue.
        .col-sm-4
          .artist
            img.img-responsive.artist-photo(src="images/artists/akilan.jpg" alt="Akilan")
            h2.text-center Akilan
              span.artist-desc 20 years old - Artist and Chef
            p Akilan is a dedicated and precise painter.  He spends many hours concentrating on his artwork and hopes to become a professional artist.
        .col-sm-4
          .artist
            img.img-responsive.artist-photo(src="images/artists/jonathan.jpg" alt="Jonathan")
            h2.text-center Jonathan
              span.artist-desc 19 years old - Artist
            p Jonathan is an enthusiastic and energetic painter.  His style is bold and he paints with lots of energy.
