section.diag-separator-forward#who-we-are
  .container
    h1.top-heading Who We Are
    p.text-center
      | <a href="//behindtheline.ca">Behind the Line</a> and
      | <a href="//saaac.org">South Asian Autism Awareness Centre</a> are
      | partnering up with talented and professional Canadian artists to
      | raise funds for the SAAAC Creative: an art program supporting
      | individuals with Autism
    .row
      .col-md-6
        figure.organization
          img(src="images/saaac-logo.png" alt="South Asian Autism Awareness Center")
          figcaption
            p
              | SAAAC Creative is a visual arts initiative that aims to
              | inspire creativity, enhance cognitive abilities and promote
              | social inclusion through artistic exploration and
              | professional skill development.   Our participants work
              | towards creating vibrant works of art to change perceptions,
              | raise awareness and beautify our communities.  Our main
              | objective is to promote public awareness of the creative
              | capacity and potential of individuals with Autism, while
              | enhancing participants’ sense of social inclusion through
              | artistic recognition.
              
            a.btn.btn-primary(href="//saaac.org" target="_blank") 
              | Visit SAAAC
            &nbsp;
            a.btn.btn-primary(href="files/saaac-creative-pamphlet.pdf" target="_blank") 
              | SAAAC Creative Pamphlet
      .col-md-6
        figure.organization
          img(src="images/btl-logo.png" alt="Behind The Line")
          figcaption
            p
              | Behind the Line is a social entrepreneurship dedicated to
              | the development and support of social and cultural
              | enhancement through creativity and innovation.
            p
              | We specialize in designing creative programs to address the
              | developmental growth of individuals with special needs.
              | Programs are facilitated and dedicated to engage individuals
              | with a wide range of mental health issues including but not
              | limited to Autism Spectrum Disorders, psychological
              | disorders, developmental and physical disabilities. The
              | unique and interactive strategies of Behind the Line augment
              | traditional clinical practices that enhance participants’
              | engagement and healthy development.
            a.btn.btn-primary(href="//behindtheline.ca" target="_blank") Visit Behind The Line
