-
  var arts = [
    {
      "title": "Darwin",
      "by": "Amir",
      "year": "2013",
      "size_x": "24",
      "size_y": "24",
      "medium": "Dirt on Panel",
      "price": "360",
      "charity": "180",
      "filename": "Darwin.jpg",
      "sold": false
    },
    {
      "title": "Fish",
      "by": "Maathumai",
      "year": "2015",
      "size_x": "11",
      "size_y": "14",
      "medium": "Acrylic on Paper",
      "price": "120",
      "charity": "60",
      "filename": "maathumai-fish.jpg",
      "sold": false
    },
    {
      "title": "Gandhi",
      "by": "Amir",
      "year": "2013",
      "size_x": "24",
      "size_y": "24",
      "medium": "Dirt on Panel",
      "price": "360",
      "charity": "180",
      "filename": "Gandhi.jpg",
      "sold": false
    },
    {
      "title": "Grid",
      "by": "Amir",
      "year": "2007",
      "size_x": "22",
      "size_y": "30",
      "medium": "Acrylic on Paper",
      "price": "320",
      "charity": "160",
      "filename": "Grid.jpg",
      "sold": false
    },
    {
      "title": "Peacock",
      "by": "Jonathan",
      "year": "2015",
      "size_x": "11",
      "size_y": "14",
      "medium": "Acrylic on Paper",
      "price": "120",
      "charity": "60",
      "filename": "jonathan-peacock.jpg",
      "sold": false
    },
    
    {
      "title": "Hope",
      "by": "Amir",
      "year": "2015",
      "size_x": "24",
      "size_y": "36",
      "medium": "Acrylic on Canvas",
      "price": "380",
      "charity": "190",
      "filename": "Hope.jpg",
      "sold": true
    },
    
    {
      "title": "Inside",
      "by": "Amir",
      "year": "2011",
      "size_x": "24",
      "size_y": "40",
      "medium": "Acrylic on Paper",
      "price": "400",
      "charity": "200",
      "filename": "Inside.jpg",
      "sold": false
    },
    
    {
      "title": "Martin Luther King Jr",
      "by": "Amir",
      "year": "2013",
      "size_x": "24",
      "size_y": "24",
      "medium": "Dirt on Panel",
      "price": "360",
      "charity": "180",
      "filename": "Martin-Luther-King.jpg",
      "sold": false
    },
    
    {
      "title": "Bird",
      "by": "Maathumai",
      "year": "2015",
      "size_x": "11",
      "size_y": "14",
      "medium": "Acrylic on Paper",
      "price": "120",
      "charity": "60",
      "filename": "maathumai-bird.jpg",
      "sold": false
    },
    
    {
      "title": "Winter Soul",
      "by": "Amir",
      "year": "2014",
      "size_x": "24",
      "size_y": "36",
      "medium": "Acrylic on Canvas",
      "price": "1200",
      "charity": "600",
      "filename": "Understood.jpg",
      "sold": false
    },
    
    {
      "title": "Pattern 5",
      "by": "Amir",
      "year": "2011",
      "size_x": "24",
      "size_y": "24",
      "medium": "Acrylic on Paper",
      "price": "360",
      "charity": "180",
      "filename": "Pattern-Five.jpg",
      "sold": false
    },
    
    {
      "title": "Landscapes 102",
      "by": "Akilan",
      "year": "2015",
      "size_x": "16",
      "size_y": "20",
      "medium": "Acrylic on Canvas",
      "price": "160",
      "charity": "80",
      "filename": "akilan-landscapes102.jpg",
      "sold": false
    },
    
    {
      "title": "Persistence",
      "by": "Amir",
      "year": "2015",
      "size_x": "30",
      "size_y": "40",
      "medium": "Acrylic on Canvas",
      "price": "1600",
      "charity": "800",
      "filename": "Persistence.jpg",
      "sold": false
    },
    
    {
      "title": "Solstice",
      "by": "Amir",
      "year": "2012",
      "size_x": "24",
      "size_y": "48",
      "medium": "Acrylic on Panel",
      "price": "600",
      "charity": "300",
      "filename": "Solstice.jpg",
      "sold": false
    },
    
    {
      "title": "Landscapes 101",
      "by": "Jonathan",
      "year": "2015",
      "size_x": "14",
      "size_y": "18",
      "medium": "Acrylic on Canvas",
      "price": "80",
      "charity": "40",
      "filename": "jonathan-landscapes101.jpg",
      "sold": false
    },
    
    {
      "title": "Split Universe 2",
      "by": "Amir",
      "year": "2012",
      "size_x": "24",
      "size_y": "24",
      "medium": "Acrylic on Panel",
      "price": "360",
      "charity": "180",
      "filename": "Split-Universe-2.jpg",
      "sold": false
    },
    
    {
      "title": "Landscapes 101",
      "by": "Akilan",
      "year": "2015",
      "size_x": "14",
      "size_y": "18",
      "medium": "Acrylic on Canvas",
      "price": "80",
      "charity": "40",
      "filename": "akilan-landscapes101.jpg",
      "sold": true
    },
    
    {
      "title": "Tiger",
      "by": "Akilan",
      "year": "2015",
      "size_x": "11",
      "size_y": "14",
      "medium": "Acrylic on Paper",
      "price": "120",
      "charity": "60",
      "filename": "akilan-tiger.jpg",
      "sold": false
    },
    
    {
      "title": "Fields 4",
      "by": "Amir",
      "year": "2012",
      "size_x": "22",
      "size_y": "30",
      "medium": "Acrylic on Paper",
      "price": "400",
      "charity": "200",
      "filename": "Fields.jpg",
      "sold": false
    },
    
    {
      "title": "Landscapes 102",
      "by": "Jonathan",
      "year": "2015",
      "size_x": "16",
      "size_y": "20",
      "medium": "Acrylic on Canas",
      "price": "160",
      "charity": "80",
      "filename": "jonathan-landscapes102.jpg",
      "sold": false
    },
    
    {
      "title": "Landscapes 101",
      "by": "Maathumai",
      "year": "2015",
      "size_x": "14",
      "size_y": "18",
      "medium": "Acrylic on Canvas",
      "price": "80",
      "charity": "40",
      "filename": "maathumai-landscapes101.jpg",
      "sold": true
    },
    
    {
      "title": "Landscapes 102",
      "by": "Maathumai",
      "year": "2015",
      "size_x": "16",
      "size_y": "20",
      "medium": "Acrylic on Canvas",
      "price": "160",
      "charity": "80",
      "filename": "maathumai-landscapes102.jpg",
      "sold": false
    },
    
    {
      "title": "Landscapes 102",
      "by": "Senthurian",
      "year": "2015",
      "size_x": "16",
      "size_y": "20",
      "medium": "Acrylic on Canvas",
      "price": "160",
      "charity": "80",
      "filename": "senthurian-landscapes102.jpg",
      "sold": false
    },
    
    {
      "title": "Landscapes 102",
      "by": "Thuvaraka",
      "year": "2015",
      "size_x": "16",
      "size_y": "20",
      "medium": "Acrylic on Canvas",
      "price": "160",
      "charity": "80",
      "filename": "thuvaraka-landscapes102.jpg",
      "sold": false
    }
  ]
