.footer {
  position: relative;

  margin-top: 1.5em;
  padding: 1em 0 1em 0;

  background-color: darken($pink, 10%);

  a {
    color: #fff;
  }

  .footer-content {
    @include outer-container;

    .footer-nav {
      @include span-columns(4);

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline;
          margin-left:.5em;
          padding-right: .6em;
          
          border-right: 1px solid #fff;
          
          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            border: none;
          }
        }
      }
    }
  }

  .newsletter {
    @include span-columns(8);

    text-align: right;

    form {
      margin-bottom: 0;
    }
    
    input {
      padding: .7em;

      border: none;
      outline: none;
    }

    input[type="email"] {
      width: 80%;
      
      @include border-left-radius(.5em);
    }

    input[type="submit"] {
      @include border-right-radius(.5em);

      margin-left: -.5em;

      background-color: $purple;
      color: #fff;

      &:hover {
        background-color: lighten($purple, 20%);
      }
    }
  }
}   

.copyright {
  text-align: center;
  font-size: .8em;
}