#contact {
  background: $color-yellow;
  color: #fff;

  &:before {
    background: $color-light-yellow;
  }
}

#map {
  margin-bottom: 1em;
}

.contact-form {

  input, textarea {
    font-family: "proxima-nova", sans-serif;
    background-color: #efefef;
    border: 0;

    &:focus, &:hover, &:active {
      outline: 0px !important;
      -webkit-appearance: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      border: 0;
      background: #fff;
    }
  }

  input[type=submit] {
    background: $color-light-yellow;
    color: #fff;
  }
}
