// .how-it-works-list {
//   height: auto;
//
//   .how-it-works-item {
//     list-style-type: none;
//     margin-bottom: 2em;
//
//     .how-it-works-item-wrapper {
//       height: 14em;
//       padding: .5em;
//       // background: #333;
//       border-radius: 8%;
//
//       .how-it-works-heading {
//         margin-top: 0;
//       }
//     }
//   }
// }

.how-it-works-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works-heading {
  font-size: 7em;
  text-align:center;
}

.how-it-works-list {
  list-style-type: none;

  margin: 0;
  margin-left: 3em;
  padding: 0;

  counter-reset: li-counter;

  li {
    position: relative;
    padding-left: .5em;
    margin-left: 1em;
    min-height: 6em;
    // border-left: 2px solid #ccc;

    &:before {
      position: absolute;
      top: 0;
      left: -1em;
      width: .8em;

      font-size: 4em;
      line-height: 1;
      font-weight: bold;
      font-style: italic;
      text-align: right;
      color: #00b251;

      content: counter(li-counter);
      counter-increment: li-counter;
    }

    h2 {
      padding-bottom: .5em;
    }
  }
}
