#how-it-works {
    background: #0869a5;
    color: #fff;
}

.v-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 990px) {
  .v-center {
    display: block;
  }
}

.how-it-works-list {
  list-style-type: none;

  margin: 0;
  margin-left: 3em;
  padding: 0;

  counter-reset: li-counter;

  li {
    position: relative;
    padding-left: .5em;
    margin-left: 3em;
    min-height: 6em;

    &:before {
      position: absolute;
      top: 0;
      left: -1em;
      width: .8em;

      font-size: 4em;
      line-height: 1;
      font-weight: bold;
      font-style: italic;
      text-align: right;
      color: #66b1ce;
      text-shadow: 1px 1px rgba(0,0,0,.3);

      content: counter(li-counter);
      counter-increment: li-counter;
    }

    h2 {
      padding-bottom: .5em;
      // color:
    }
  }
}
