#the-artists {
  background: $color-light-yellow;

  p {
    font-size: 1.3em;
  }

  .sub-heading {
    margin: 0;
    font-size: 4em;
  }

  .artist-name-sub-heading {
    font-weight: bold;
  }

  &:before {
    background: $color-yellow;
  }
}

.artist {
  padding: 1em;

  .artist-desc {
    display: block;
    font-family: "proxima-nova", sans-serif;
    font-size: .5em;
    padding-top: .5em;
  }
}

.artist-photo {
  border-radius: 10px;
  border: 2px solid $color-yellow;
}

.featured-artist {
  margin-bottom: 3em;
}
