#the-artists {
  h2 {
    // margin-bottom: .5em;
  }

  p {
    font-size: 1.3em;
  }
}
.artist {
  padding: 1em;

  .artist-desc {
    display: block;
    font-family: "proxima-nova", sans-serif;
    font-size: .5em;
    padding-top: .5em;
  }
}

.artist-photo {
  border-radius: 5px;
  border: 2px solid $color-dark-orange;
}
